<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.user.mapper.UserMapper">
    <!--  映射结果集，id为唯一标识符  -->
    <resultMap id="user" type="org.nwpu.user.bean.User">
        <!--    property为java类中的属性名，column为数据库中列名    -->
        <id property="id" column="uid" jdbcType="INTEGER"></id>
        <result property="identity" column="identity" jdbcType="VARCHAR"></result>
        <result property="password" column="password" jdbcType="VARCHAR"></result>
        <result property="email" column="email" jdbcType="VARCHAR"></result>
        <result property="power" column="power" jdbcType="VARCHAR"></result>
        <result property="university" column="university" jdbcType="VARCHAR"></result>
        <result property="college" column="college" jdbcType="VARCHAR"></result>
        <result property="majorName" column="majorName" jdbcType="VARCHAR"></result>
        <result property="fullName" column="fullName" jdbcType="VARCHAR"></result>
        <result property="studentId" column="studentId" jdbcType="VARCHAR"></result>
        <result property="sex" column="sex" jdbcType="VARCHAR"></result>
        <result property="qualification" column="qualification" jdbcType="INTEGER"></result>
        <result property="year" column="year" jdbcType="INTEGER"></result>
    </resultMap>

    <select id="searchUserByUserName" resultMap="user">
        SELECT uid,password, email, power, university, college, majorName,
               identity, fullName, studentId, sex, qualification, year
        FROM user,major
        WHERE user.identity = #{userName} AND user.isDelete = 0 AND user.mid = major.mid AND major.isDelete = 0;
    </select>

    <select id="searchUserById" resultMap="user">
        SELECT uid,password, email, power, university, college, majorName,
               identity, fullName, studentId, sex, qualification, year
        FROM user,major
        WHERE user.uid = #{userId} AND user.isDelete = 0 AND user.mid = major.mid AND major.isDelete = 0;
    </select>

    <update id="updatePassword">
        UPDATE user
        SET password = #{password}
        WHERE uid = #{id} AND isDelete = 0;
    </update>

    <update id="updateEmail">
        UPDATE user
        SET email = #{email}
        WHERE uid = #{id} AND isDelete = 0;
    </update>

    <update id="resetPassword">
        UPDATE user
        SET user.password = right(user.identity,6)
        WHERE user.uid = #{userId} AND user.isDelete = 0;
    </update>

    <update id="deleteUserById">
        UPDATE user
        SET user.isDelete = 1
        WHERE user.uid = #{userId};
    </update>

    <insert id="insertUser" parameterType="org.nwpu.user.bean.User" useGeneratedKeys="true" keyProperty="user.id" keyColumn="uid">
        INSERT INTO user(password, email, power, identity, mid, fullName, studentId, sex, qualification, year, isDelete)
        VALUES (right(#{user.identity},6),#{user.email},#{user.power},#{user.identity},#{mid},#{user.fullName},#{user.studentId},
                #{user.sex},#{user.qualification},#{user.year},0)
    </insert>
</mapper>