<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.user.mapper.VolunteerMapper">

    <insert id="insertVolunteer">
        INSERT INTO volunteer(`rank`, mid, rid, firstGrade, secondGrade, finalGrade, type, isDelete)VALUES
        <foreach collection="volunteers" item="volunteer" separator=",">
            (#{volunteer.rank},#{volunteer.major.id},#{rid},#{volunteer.firstGrade},
             #{volunteer.secondGrade},#{volunteer.finalGrade},#{volunteer.type},0)
        </foreach>
    </insert>
</mapper>